
img {
    cursor: pointer;
    width: 90%;
    border-radius: 15px;
  }
  
  #data{
    text-align: center;
  }
  
h1 {
    color: orange;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}